*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
}

.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
}

header{
    padding: 20px 0;
    height: 20vh;
    background-color: cornflowerblue;
}

header > .container{
    max-width: 1100px;
}

.clear{
    clear: both;
}

.left-header{
    float: left;
}

.left-header h1{
    font-size: 50px;
    color: white;
}

.right-header{
    float: right;
}

.right-header p{
    padding-right: 290px;
    font-size: 24px;
    line-height: 10vh;
    color: white;
}
/*final do header e começo da section*/

section.galeria{
    padding: 20px 0;
}

.box-galeria{
    display: flex;
    justify-content: space-around;
}

.box-galeria div{
    background-color: red;
    width: 250px;
    height: 350px;
    border: 1px solid black;
}

.bg-1{
    background-image: url('../images/918kseGgo-L.jpg');
    background-size: 100% 100%;
}

.bg-3{
    background-image: url('../images/regular\ show\ apenas\ um\ show\ nada\ mais\ que\ isso\ wallpaper\ ocultismo\ magia\ esoterismo\ desenho\ cartoon\ network.jpg');
    background-size: 100% 100%;
}

/*final galeria e começo texto*/

section.txt{
    padding: 12px 0;
}

.txt p{
    font-size: 26px;
    text-align: center;
}